version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: my-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: lihag

  auth-service:
    build: .
    ports:
      - "3000:3000"
    environment:
      DB_CONNECTION_STRING: mongodb://mongo:27017/lihag
    depends_on:
      - mongo

