apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
spec:
  replicas: 3
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: gitlab.lnu.se:5050/2dv013/student/team-2025-07-4chics/lihag-system/auth:staging
        ports:
        - containerPort: 3000
        env:
        - name: DB_CONNECTION_STRING
          value: mongodb://mongo:27017/lihag
        - name: PORT
          value: "3000"
          imagePullSecrets:
                - name: regcred
