apiVersion: v1
kind: Service
metadata:
  name: notification
  labels:
    app: notification
spec:
  type: NodePort
  selector:
    app: notification
  ports:
    - name: http
      protocol: TCP
      port: 8005
      targetPort: 8005
      nodePort: 31005
