# Node modules

node_modules/

# Logs

npm-debug.log\*
yarn-error.log*
pnpm-debug.log*

# Environment variables

.env
.env.local
.env.*

# Git

.git
.gitignore

# Editor/OS files

.DS_Store
.vscode/
.idea/

# Builds

dist/
build/
