stages:
  - build
  - deploy

build:
  stage: build
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:${CI_COMMIT_SHA} .
    - docker push $CI_REGISTRY_IMAGE:${CI_COMMIT_SHA}
  only:
    - main

deploy_staging:
  stage: deploy
  script:
    - echo "$KUBE_CONFIG_STAGING" > kubeconfig
    - export KUBECONFIG=./kubeconfig
    - kubectl apply -f k3s/frontend/static-site.yaml
  environment:
    name: staging
  only:
    - main
