myvars.auto.tfvars

inventory-generated

.terraform
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
tfplan
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
