apiVersion: apps/v1
kind: Deployment
metadata:
  name: tenant
spec:
  replicas: 3
  selector:
    matchLabels:
      app: tenant
  template:
    metadata:
      labels:
        app: tenant
    spec:
      containers:
        - name: tenant
          # OBS! Byt ut nedan till er GitLab Container Registry-path, t.ex. registry.gitlab.com/<user>/<repo>/tenant:latest
          image: registry.gitlab.com/<user>/<repo>/tenant:latest # <-- GitLab Container Registry
          ports:
            - containerPort: 8888 # OBS! Uppdatera denna port då appen kommer att lyssna på en annan port. Glöm inte att även ändra i service.yaml.
          envFrom:
            - configMapRef:
                name: tenant-config
