apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: admin-frontend
  template:
    metadata:
      labels:
        app: admin-frontend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: admin-frontend
          image: gitlab.lnu.se:5050/2dv013/student/team-2025-07-4chics/lihag-system/admin-frontend
          imagePullPolicy: Always
          ports:
            - containerPort: 8004
          env:
            - name: PROPERTY_URL
              valueFrom:
                secretKeyRef:
                  name: lihag-env-vars
                  key: PROPERTY_URL
            - name: AUTH_URL
              valueFrom:
                secretKeyRef:
                  name: lihag-env-vars
                  key: AUTH_URL
            - name: MAINTENANCE_URL
              valueFrom:
                secretKeyRef:
                  name: lihag-env-vars
                  key: MAINTENANCE_URL
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
            requests:
              memory: "64Mi"
              cpu: "50m"
---
apiVersion: v1
kind: Service
metadata:
  name: admin-frontend
spec:
  selector:
    app: admin-frontend
  ports:
    - protocol: TCP
      port: 8004
      targetPort: 8004
  type: ClusterIP
