apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: gitlab.lnu.se:5050/2dv013/student/team-2025-07-4chics/lihag-system/frontend:main
          ports:
            - name: http
              containerPort: 8001
          imagePullPolicy: Always
      imagePullSecrets:
        - name: regcred
