apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
      - name: http
        protocol: TCP
        port: 8001         # Porten som exponeras i klustret
        targetPort: 8001   # Porten som containern lyssnar på
        nodePort: 30081   # NodePort för åtkomst utanför klustret