[k3s_servers]
${K3S_SERVER_NAME} ansible_host=${K3S_SERVER_IP} ansible_user=ubuntu ansible_ssh_private_key_file=${TF_VAR_identity_file}
${K3S_SERVER2_NAME} ansible_host=${K3S_SERVER2_IP} ansible_user=ubuntu ansible_ssh_private_key_file=${TF_VAR_identity_file}



[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'